<%= form_for(@carrousel) do |f| %>
    <p><%= f.label :photo, "Foto:" %>
    <%= f.file_field :photo %></p><br> 
    
    <p><%= f.submit (@carrousel.new_record? ? 'Agregar Imagen' : 'Guardar Cambios'), :class => 'btn btn-lg btn-jordi' %></p>
<% end %>