<hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag @carrousel.photo.url, size: "500x500" , :class => 'featurette-image img-responsive' %>
    </div>
  </div>
<br>
<div align="left">
  <%= button_to 'Volver', carrousels_path, :method => :get, :class => 'btn btn-default  ' %><br> 
</div>